@model AutoMarket.Models.Motorcycle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Motorcycle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstRegistration" class="control-label"></label>
                <input asp-for="FirstRegistration" class="form-control" />
                <span asp-validation-for="FirstRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnginePower" class="control-label"></label>
                <input asp-for="EnginePower" class="form-control" />
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorcycleBrandId" class="control-label"></label>
                <select asp-for="MotorcycleBrandId" class="form-control" asp-items="ViewBag.MotorcycleBrandId"></select>
                <span asp-validation-for="MotorcycleBrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorcycleModelId" class="control-label"></label>
                <select asp-for="MotorcycleModelId" class="form-control" asp-items="ViewBag.MotorcycleModelId"></select>
                <span asp-validation-for="MotorcycleModelId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="MotorcycleTypeId" class="control-label"></label>
                <select asp-for="MotorcycleTypeId" class="form-control" asp-items="ViewBag.MotorcycleTypeId"></select>
                <span asp-validation-for="MotorcycleTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorcycleColorId" class="control-label"></label>
                <select asp-for="MotorcycleColorId" class="form-control" asp-items="ViewBag.MotorcycleColorId"></select>
                <span asp-validation-for="MotorcycleColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorcycleMileageId" class="control-label"></label>
                <select asp-for="MotorcycleMileageId" class="form-control" asp-items="ViewBag.MotorcycleMileageId"></select>
                <span asp-validation-for="MotorcycleMileageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorcycleConditionId" class="control-label"></label>
                <select asp-for="MotorcycleConditionId" class="form-control" asp-items="ViewBag.MotorcycleConditionId"></select>
                <span asp-validation-for="MotorcycleConditionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorcycleTransmissionId" class="control-label"></label>
                <select asp-for="MotorcycleTransmissionId" class="form-control" asp-items="ViewBag.MotorcycleTransmissionId"></select>
                <span asp-validation-for="MotorcycleTransmissionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorcycleFuelTypeId" class="control-label"></label>
                <select asp-for="MotorcycleFuelTypeId" class="form-control" asp-items="ViewBag.MotorcycleFuelTypeId"></select>
                <span asp-validation-for="MotorcycleFuelTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

