@model AutoMarket.Models.CarModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstRegistration" class="control-label"></label>
                <input asp-for="FirstRegistration" class="form-control" />
                <span asp-validation-for="FirstRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="control-label"></label>
                <input asp-for="FuelType" class="form-control" />
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnginePower" class="control-label"></label>
                <input asp-for="EnginePower" class="form-control" />
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransmissionType" class="control-label"></label>
                <input asp-for="TransmissionType" class="form-control" />
                <span asp-validation-for="TransmissionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InteriorColor" class="control-label"></label>
                <input asp-for="InteriorColor" class="form-control" />
                <span asp-validation-for="InteriorColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDoors" class="control-label"></label>
                <input asp-for="NumberOfDoors" class="form-control" />
                <span asp-validation-for="NumberOfDoors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSeats" class="control-label"></label>
                <input asp-for="NumberOfSeats" class="form-control" />
                <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Features" class="control-label"></label>
                <input asp-for="Features" class="form-control" />
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
