@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('/uploads/highway.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        z-index: 1;
        text-align: center;
        color: white;
        margin-bottom: 100px; /* Adjust the margin to prevent overlap with the footer */
    }

    .btn {
        z-index: 1;
    }
</style>

<div class="content">
    <h1 class="display-4">Welcome</h1>

    <div style="margin-top: 20px;">
        <a href="/Identity/Account/Register" class="btn btn-primary btn-lg">Join Us</a>
        <a href="/Identity/Account/Login" class="btn btn-success btn-lg" style="margin-left: 20px;">Get Started</a>
    </div>
</div>
