<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoMarket.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @{var isAdmin = User.IsInRole("Admin");
            if(isAdmin){
            <!-- Left-side navigation -->
            <nav class="col-md-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h5 class="my-4">Auto-Market</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarBrands" asp-action="Index">Car Brands</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarBrands" asp-action="Create">Add a Car Brand</a>
                                </li>
                                
                            </ul>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarModels" asp-action="Index">Car Models</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarModels" asp-action="Create">Add a Car Model</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarVersions" asp-action="Index">Car Versions</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarVersions" asp-action="Create">Add a Car Version</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarColors" asp-action="Index">Car Colors</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="CarColors" asp-action="Create">Create a Car Color</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleBrands" asp-action="Index">Motorcycle Brands</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleBrands" asp-action="Create">Create Motorcycle Brand</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleColors" asp-action="Index">Motorcycle Colors</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleColors" asp-action="Create">Create Motorcycle Color</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleConditions" asp-action="Index">Motorcycle Conditions</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleConditions" asp-action="Create">Create Motorcycle Condition</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleModels" asp-action="Index">Motorcycle Models</a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="MotorcycleModels" asp-action="Create">Create Motorcycle Model</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckBrands" asp-action="Index">Truck Brands </a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckBrands" asp-action="Create">Truck Brand</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckColors" asp-action="Index">Truck Colors </a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckColors" asp-action="Create">Truck Color</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckConditions" asp-action="Index">Truck Conditions </a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckConditions" asp-action="Create">Truck Condition</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckFuelTypes" asp-action="Index">Truck Fuel Types </a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckFuelTypes" asp-action="Create">Truck Fuel Type</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckMileages" asp-action="Index">Truck Mileages </a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckMileages" asp-action="Create">Truck Mileage</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckModels" asp-action="Index">Truck Models </a>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="TruckModels" asp-action="Create">Truck Model</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            }}
            <!-- Main content area -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
